@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none; /* For IE & Edge */
    scrollbar-width: none; /* For Firefox */
  }